{% extends 'base.html.twig' %}

{% block title %}meilleur site d'anime{% endblock %}

{% block body %}
    <div class="header-margin"></div>
<div class="container">

    <div class="row mt-5">
        {% if anim.category == "serie" %}
        <div class="col-lg-8 col-md-9 pb-5 d-flex justify-content-center">
            {% else %}
            <div class="col-12 pb-5 d-flex justify-content-center">
            {% endif %}
        <video
                id="my-video"
                class="video-js"
                controls
                autoplay="true"
                data-setup="{}"
        >
            <source src="{{ asset('video-anime') }}/{{ episode.link }}" type="video/mp4" />
        </video>
        </div>
        {% if anim.category == "serie" %}
        <div class="col-lg-4 col-md-3 d-flex align-items-center flex-column">
            {% for episodes in anim.episode %}
               <div class="row pb-1"><h3> <span class="badge badge-danger"> <a class="text-decoration-none " href="{{ path('view',{'slug':anim.slug,'number':episodes.number }) }}">{{ episodes }}</a></span></h3></div>
            {% endfor %}</div>
        </div>
        {% endif %}
</div>
{% endblock %}
{% block videojs %}
{% endblock %}