{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
  {% if notification %}
    <div class="alert alert-success" role="alert">
      {{ notification }}
    </div>
  {% endif %}
  {{ form(form) }}
{% endblock %}
