{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="header">
        <img class="shin translate" data-speed="" src="./image/shin-mobile.png" alt="">
        <img class="lune translate" data-speed="1" src="./image/lune.png" alt="">
        <img class="lune-rouge translate" data-speed="1" src="./image/lune-rouge.png" alt="">
        <div class="shadow">
        </div>
    </div>
<section class="section1-home  ">
  <div class=" container">
    <div class="row" >
        <div class="col-md-6 img1  " >
            <img class="selection1-home-img"  src="./image/hh.jpg" alt="">
       </div>
        <div class="col-md-6 ">
            <div class="selection1-home-text parallel text-left">
                <span>titre</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ab alias beatae, earum ex incidunt ipsam, nam nemo, ratione repellendus saepe sequi temporibus
                    ut voluptatum? Accusantium architecto debitis quam ratione veritatis.
                </p>
            </div>
        </div>
        </div>
    </div>

</section>
<section class="section2-home ">
    <div class="a section2-home-anim"></div>
    <div class="b section2-home-anim"></div>
    <div class="c section2-home-anim"></div>
    <div class="d section2-home-anim"></div>
    <div class="e section2-home-anim"></div>
    <div class="f section2-home-anim"></div>
    <div class="g section2-home-anim"></div>
    <div class="h section2-home-anim"></div>
</section>

{% endblock %}



