:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #383737;
    --text-color: #000000;
    --color-success: #11255f;
    --content-panel-bg: #7db8f3;
    /* make the base font size smaller */
    --font-size-base: 14px;
    /* remove all border radius to make corners straight */
    --border-radius: 15px;
    --form-bg: #7db8f3;
    --text-color-dark: #090909;
    --fieldset-bg: #3c3c3d;
    --color-primary: #ff0303;

}
.title{
    color: white !important;
}

.main-sidebar{
    --text-color-dark: #fffefe !important;
}
.main-sidebar li{
    --text-color-dark: #ffffff !important;
}

.select2-results{

    --body-bg: white !important;
   --text-color: red;
    background-color: #00bb00 !important;
}
.table{
    background-color: #f5f5bb !important;
}
.sidebar-menu .header {
  color: #e3b901 !important;
}
.main-header #header-logo a {
    color:white;
    font-size:  42px;
}
