@mixin text-color($font){
  color: $white;
  link: color($white);
  background: $font;
  @if $font != $gray-900{
    color: $gray-900;
    link: color($gray-900);
  }
}
@mixin home-section2-position($height,$width,$top,$left){
  height: $height;
  width: $width;
  top: $top;
  left: $left;
}

@mixin home-section2-p{
  @media #{$small} {
    font-size: 14px;
    -webkit-text-stroke-width: 0.5px;
  }
  @media #{$medium} {
    font-size: 20px;
    -webkit-text-stroke-width: 1.2px;
  }
  @media #{$large} {
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
  }
}
