{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="header-margin"></div>
<div class="login ">
    <div  class="form-signin">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
