.form-check{
  background-color: #cff4fc;
  border-radius: 5px;
  padding: 16px 0px 4px 40px  !important;
  margin: 8px 20px 0px 20px;
  color: $black;
}
.order-sammary{
  border: solid 1px white ;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
}