
  body{
    background: rgb(65,64,64);
    background: linear-gradient(90deg, rgba(65,64,64,1) 15%, rgba(28,26,26,1) 50%, rgba(65,64,64,1) 85%);
    color: white;
  }
  #logo{
    text-decoration: none;
    top: 15px;
    left: 15px;
    a{
      text-decoration: none;
    }
    .span1{
      text-shadow: rgb(44, 44, 44) 0.006em 0.006em 0.007em,
      rgb(255, 2, 2) 1px 1px 1px,
      rgb(255, 2, 2) 1px 2px 1px,
      rgb(255, 2, 2) 1px 3px 1px,
      rgb(255, 2, 2) 1px 4px 1px,
      rgb(255, 2, 2) 1px 5px 1px;color:rgb(255, 0, 0);

    }
    .span2{
      text-shadow:  rgb(2, 2, 2) 0.006em 0.006em 0.007em,
      #9c9c9c 1px 1px 1px,
      #9c9c9c 1px 2px 1px,
      #9c9c9c 1px 3px 1px,
      #9c9c9c 1px 4px 1px,
      #9c9c9c 1px 5px 1px;color:#fff;

    }
  }

